.board-main {
  background-color: rgb(213, 206, 206);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  overflow-x: scroll;
  flex: 1;
}

#card {
  padding: 15px;
  margin: 10px 0px;
}

#column {
  padding: 5px;
  width: 280px;
  margin: 20px 10px;
  position: relative;
}

.column-header {
  display: flex;
  justify-content: space-between;
}

button {
  cursor: pointer;
}
